.contato-bg {
  background-color: var(--cor-p3);
  padding: 80px 0;
  background-image: url('../img/mapa-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.contato {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 30px;
}

.contato-dados li:first-child {
  margin-bottom: 5px;
}

.contato-dados li a {
  transition: .3s;
}

.contato-dados li a:hover {
  color: var(--cor-5);
}

.contato-mapa {
  position: relative;
  box-shadow: 1px 10px 16px -4px rgba(0,0,0,0.11);
  -webkit-box-shadow: 1px 10px 16px -4px rgba(0,0,0,0.11);
  -moz-box-shadow: 1px 10px 16px -4px rgba(0,0,0,0.11);
}
.contato-conteudo h2 {
  margin-bottom: 10px;
}

.atendimento li:nth-child(5) {
  margin-top: 10px;
}

.fale-conosco {
  margin-bottom: 30px;
}

.fale-conosco::after {
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  margin-top: 30px;
  background-color: var(--cor-5);
}

@media (max-width: 900px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-bg {
    background-size: cover;
  }
  .contato-mapa iframe {
    height: 300px;
  }
}