.cta-bg {
  background: linear-gradient(29deg, rgba(0,46,82,0.9) 0%, rgba(0,149,218,0.9) 100%), url('../img/cta-bg.jpg')no-repeat center;
  background-size: cover;
}

.cta-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-items: end;
  gap: 30px;
  margin-bottom: 60px
}

.cta-info .botao {
  padding: 25px 60px;
}

.cta-info .botao:hover {
  border: 2px solid var(--cor-p1);
}

@media (max-width: 560px) {
  .cta-info {
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: start;
  }
}