.container {
  max-width: 1230px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.botao, .botao-sobre {
  color: var(--cor-0);
  padding: 25px;
  background-color: var(--cor-p1);
  box-shadow: 0 0 3px rgba(0, 149, 218, .3);
  max-width: max-content;
  border: none;
  cursor: pointer;
  font: 400 0.875rem/1 "Roboto", sans-serif;
  transition: .3s;
  display: block;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 3px;
}

.botao:hover {
  background-color: var(--cor-p2);
  box-shadow: 0 0 3px rgba(0, 131, 191, .3);
}

.titulo-internas {
  text-transform: lowercase;
  text-align: center;
  margin-top: 88px;
  margin-bottom: 80px;
  padding: 70px 40px;
  background-color: rgba(0, 46, 82, .9);
  overflow: hidden;
}

.titulo-internas p {
  text-transform: uppercase ;
}

@media(max-width: 360px){
  .titulo-internas {
    padding: 30px 20px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.imagem-sobre {
  background-image: url(../../img/propriedades/sobre.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imagem-propriedades {
  background-image: url(../../img/propriedades/propriedades.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imagem-contato {
  background-image: url(../../img/propriedades/contato.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imagem-propriedade {
  background-image: url(../../img/propriedades/propriedade.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}