#header {
  box-sizing: border-box;
  background: var(--cor-0);
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 999;
  box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 1rem;
}

#menu {
  display: flex;
  gap: 25px;
}

#menu a {
  padding: .5rem;
  display: block;
  transition: .3s;
}

#menu li:last-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#menu a:hover {
  color: var(--cor-p1);
}

@media (max-width: 900px)  {
  #header {
    justify-content: space-between;
  }
}