#header {
  box-sizing: border-box;
  background: var(--cor-0);
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 999;
  box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 1rem;
}

#menu {
  display: flex;
  gap: 25px;
  align-items: center;
}

#menu a {
  padding: .5rem;
  display: block;
  text-align: center;
  transition: .3s;
}

#menu a:hover {
  color: var(--cor-p1);
}

.botao-whats {
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--cor-p1);
  color: var(--cor-0);
  border-radius: 3px;
  padding: 1rem 1.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 0 3px rgba(0, 149, 218, .6);
}

.botao-whats:hover {
  color: var(--cor-0);
  background-color: var(--cor-p2);
  box-shadow: 0 0 3px rgba(0, 131, 191, .6);
}

#menu li .botao-whats a {
  padding: .3rem;
}

@media (max-width: 900px)  {
  .botao-whats {
    width: 100%;
    padding: 2rem;
    justify-content: center;
  }
  #menu li .botao-whats a {
    padding: .3rem;
    margin: 0;
  }
  #header {
    justify-content: space-between;
  }
  #menu li:last-child {
    border: none;
  }
  #menu li:nth-child(4) {
    border: none;
  }
}